@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

@font-face {
  font-family: Nexa;
  src: url("./resources/fonts/Nexa/Nexa-Trial-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: San Francisco;
  src: url("./resources/fonts/SanFrancisco/SF-Compact-Rounded-Light.otf") format("opentype");
}

.app-container {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100vw;
  padding: 30px;
  box-sizing: border-box;
}

.app {
  border: 1px solid gray;
  height: 667px;
  max-height: 667px;
  max-width: 350px;
  overflow: scroll;
  width: 375px;
  margin: auto;
  border-radius: 25px;
  font-family: 'Varela Round', sans-serif;
}