

.place {
    background-color: rgba(247, 245, 242, 0.884);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.place img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
}

.info {
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.place h4 {
    margin: 0;
}

.place h5 {
    margin: 0;
}

.place h6 {
    margin: 0;
}